<section id='feeds'>
  <div class="masonry container-fluid">
    <%= link_to 'новая новость', new_feed_path %>
    <%= render partial: 'feed', collection: @feeds%>
  </div>
</section>



<%= will_paginate @feeds %>
