
<div class="row admin-dashboard">
  <div class="col-md-3">
    <%= render 'shared/dashboard_nav_bar'%>
  </div>
  <div class="col-md-9 dashboard-content shadow">
    <%= render 'shared/admin_index'%>

  </div>
</div>
