<div class="dashboard-bar shadow">
  <img src="http://www.thepixelfarm.co.uk/wp-content/uploads/2016/05/admin_v01D_support.png" alt="">

  <ul class="dashboard-bar-list ">
    <li><a href="<%= admin_path %>"><i class="fa fa-tachometer" aria-hidden="true"></i> Панель</a></li>
    <li><a href="<%= admin_categories_path %>"><i class="fa fa-list" aria-hidden="true"></i>  Категории</a></li>
    <li><a href="<%= admin_sources_path %>"><i class="fa fa-cloud" aria-hidden="true"></i>  Источники</a></li>
    <li><a href="<%= admin_all_user_path%>"><i class="fa fa-users" aria-hidden="true"></i>  Пользователи</a></li>
    <li><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i>  Загрузить новости</a></li>
    <li><a href=""><i class="fa fa-money" aria-hidden="true"></i>  Обновить курс валют</a></li>
  </ul>
</div>
